img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: block;
    border: 5px solid #DAA520;
    border-radius: 10%;
}

body {
    margin: 0%;
    background-color: #1C1C1C;
    
}

h1 {
    color: #F5E8D8;
    text-decoration-line: underline;
    text-decoration-color: #B4A5A5;
    padding: 0.1mm;
    background-color: #FF6F61;
    padding-bottom: 0.1cm;
    padding-top: 0.1cm;
}

h2 {
    color: #F5E8D8;
    text-decoration-line: underline;
    text-decoration-color: #B4A5A5;
    padding: 0.1mm;
    background-color: #DAA520;
    padding-bottom: 0.1cm;
    padding-top: 0.1cm;
}

li {
    list-style-type: none;
    display: inline;
    font-size:large;
    padding: 0.6cm;
}

nav {
    padding: 0.1mm;
    background-color: #FF6F61;
    padding-bottom: 0.1cm;
    padding-top: 0.1cm;
}

p {
    color: #F5E8D8;
}

a {
    color: #F5E8D8;
    text-decoration: none;
}

a:hover {
    color: #F5E8D8;
    text-decoration-line: underline;
}

ul {
    padding-right: 15px;
    padding-left: 15;
}

.DropClass {
    position: relative;
}

.DropClass-Content {
    display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
}

.DropClass:hover .DropClass-Content {
  display: block;
}

.PageHeader {
    padding: 0.1mm;
    background-color: #DAA520;
    padding-bottom: 0.1cm;
    padding-top: 0.1cm;
}

.Kontakt {
    /* max-width: 7%; */
    /* max-height: 7%; */
    width: 45px;
    height: 45px;
    display: inline;
    background-color:  #f9f9f9;
    border: 2px solid #DAA520;
    border-radius: 50%;
    object-fit: cover;
}

.KontaktListClass {
    list-style-type: upper-roman;
    display: block;
    font-size: large;
    padding: 0.6cm;
}