img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: block;
    border: 5px solid #D64933;
    border-radius: 10%;
}

body {
    margin: 0%;
    background-color: #2C2C2C;
    
}


h1,h2 {
    color: #eae7e7;
    text-decoration-line: underline;
    text-decoration-color: #B4A5A5;
}

a:link {
    color : chartreuse
}

a:visited {
    color: fuchsia;
}

p {
    color: #F3F4F4;
}

nav {
    padding: 0.1mm;
    background-color: #853953;
}

ul {
    background-color: #612D53;
}

li {
    color: #efeded;
    list-style-type: none;
    display: inline;
    padding:0.6cm;
}

li:hover {
    text-decoration-line: underline;
}